@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e6f2f3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "DM Sans", sans-serif;
}

/* =================================================== */
/* Header */
/* =================================================== */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #e6f2f3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  z-index: 3;
  padding: 10px 0;
}

.logo {
  width: 135px;
  padding: 10px;
}

/* Menu Desktop */
.nav-menu {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-menu a {
  color: #6298b2;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
  cursor: pointer;
}

.nav-menu a:hover {
  color: #4d7a8f;
}

.nav-menu li {
  display: inline-block;
  margin: 0 10px;
}

.nav-menu li a {
  font-family: "DM Sans", serif;
  font-weight: 600;
}

.cta-button {
  background: #6298b2;
  color: white !important;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.social-icons {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.social-icons svg {
  width: 30px;
  height: 30px;
  fill: #6298b2;
  cursor: pointer;
  z-index: 3;
}
.social-icons img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.3s;
}
.social-icons img:hover {
  transform: scale(1.1);
}

/* Menu Mobile */
#menu-button {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  color: #6298b2;
  cursor: pointer;
}

/* =================================================== */
/* Banner De Video */
/* =================================================== */
.video-banner {
  position: relative;
  width: 100%;
  height: 98vh;
  overflow: hidden;
}

.video-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.video-banner video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7) contrast(1.2);
}

.content-overlay {
  position: absolute;
  top: 45%;
  left: 30px;
  background: rgba(0, 0, 0, 0);
  color: white;
  padding: 1rem;
  height: 2px;
}

.content-overlay h1 {
  color: #6298b2;
  font-size: 3rem;
  font-weight: 500;
}
.content-overlay h2 {
  color: #ffffff;
  font-size: 1.5rem;

}

.content-overlay .logo-imagem-video {
  justify-content: center;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.content-overlay .logo-imagem-video {
  width: 135px;
}
.whatsapp-icon {
  margin-top: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 24px;
  height: 24px;
}

.whatsapp-icon svg {
  width: 40px;
  height: 40px;
}
.whatsapp-icon img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.3s;
}

.whatsapp-icon img:hover {
  transform: scale(1.1);
}

.logo-container {
  display: flex;
  align-items: center;
}
#Servicos{
  padding: 26px;
}
#Sobre{
  padding: 26px;
}
#Trabalhe{
  padding: 76px;
}

/* =================================================== */
/* Conteudo Principal */
/* =================================================== */
main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}

/* =================================================== */
/* Seção De Titulo */
/* =================================================== */
.container-Titulo {
  padding: 100px;
  display: flex;
  justify-content: center;
}

.titulo-Texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  box-shadow: 1px 10px 5px rgba(224, 242, 247, 0.8);
  background-color: #c8f8fc;
  border-radius: 10px;
  width: 70%;
}

.titulo-Texto h1 {
  color: #6298b2;
  font-family: "DM Sans", serif;
  font-weight: 600;
}

.titulo-Texto p {
  color: #6298b2;
  font-family: "DM Sans", serif;
  font-size: 1.2rem;
}

/* =================================================== */
/* Cards De Serviços */
/* =================================================== */
.container-principal {
  display: flex;
  justify-content: center;
}

.container-pai {
  margin: 0 60px;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  max-width: 1200px;
  justify-content: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.titulo-filho {
  color: #6298b2;
  border-radius: 10px;
  min-height: 400px;
  min-width: 300px;
  padding: 10px;
  margin-left: 45px;
  background-color: #eafcfd;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titulo-filho:hover {
  color: rgb(255, 255, 255);
  background-color: #005d7f;
}

.titulo-filho h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "DM Sans", serif;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.titulo-filho li {
  list-style: none;
  gap: 20px;
  font-size: 0.99rem;
  font-family: "DM Sans", serif;
  text-align: center;
}

.titulo-filho img {
  width: 90px;
  align-items: center;
  margin: 0 auto;
}

.titulo-filho ul {
  padding: 0;
}

/* =================================================== */
/* Cards Individuais */
/* =================================================== */
.cards-pai {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card-filho {
  border-radius: 8px;
  background-color: #eafcfd;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 221px;
  height: 227px;
}

.card-filho:hover {
  background-color: #c8f8fc;
}

.card-filho p {
  color: #6298b2;
  font-family: "DM Sans", serif;
  font-size: 0.99rem;
}

.card-filho img {
  width: 90px;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* =================================================== */
/* Seção Sobre Nós */
/* =================================================== */
.container_nós {
  padding: 78px 0 50px;
  display: flex;
  justify-content: center;
}

.text_nós {
  margin: 40px 0 30px;
  font-size: 1.3rem;
  font-family: "DM Sans", serif;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  box-shadow: 1px 10px 5px rgba(224, 242, 247, 0.8);
  background-color: #c8f8fc;
  border-radius: 10px;
  width: 40%;
}

.text_nós h2 {
  color: #6298b2;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 100px;
}

.container_02 {
  display: flex;
  width: 550px;
}

.container_02 h1 {
  color: #6298b2;
  font-family: "DM Sans", serif;
  font-weight: 300;
  font-size: 1.2rem;
}

.container_03 img {
  width: 450px;
  height: auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* =================================================== */
/* Banner imagem cachorro */
/* =================================================== */
.container-img {
  display: flex;
  justify-content: center;
}

.container-pai-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/img/corgi-6705821_1280.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 60%;
  height: 850px;
  border-radius: 15px;
}

/* =================================================== */
/* Estrutura */
/* =================================================== */

.full-scaner {
  height: 75vh;
}
.container_estrutura {
  margin: 205px 0 98px;
  display: flex;
  justify-content: center;
}

.text_estrutura {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  box-shadow: 1px 10px 5px rgba(224, 242, 247, 0.8);
  background-color: #c8f8fc;
  border-radius: 10px;
  width: 55%;
}

.text_estrutura h2 {
  font-family: "DM Sans", serif;
  font-weight: 600;
  color: #6298b2;
  font-size: 2rem;
}

.filho-estrutura h1 {
  font-size: 1.3rem;
  color: #6298b2;
  margin-bottom: 20px;
  font-family: "DM Sans", serif;
  font-weight: 600;
}

.filho-estrutura h1:hover {
  color: rgb(111, 193, 207);
}

.pai-estrutura {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.filho-estrutura {
  margin: 10px;
  text-align: center;
  cursor: pointer;
  flex: 0 0 220px;
}

.filho-estrutura img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

/* =================================================== */
/* Modal De Imagens */
/* =================================================== */
.modal {
  display: none;
  position: fixed;
  z-index: 30;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  max-width: 60%;
  max-height: 90%;
  object-fit: contain;
  margin-bottom: 15px;
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #000;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

#caption {
  color: #6298b2;
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  display: block;
}

/* =================================================== */
/* Formulario Trabalhe Conosco */
/* =================================================== */
.container-formulario {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container-foto-vet {
  display: flex;
}

.container-foto-vet img {
  padding: 0 !important;
  width: 650px;
  height: 800px;
  border-radius: 5px;
}

.form-container {
  background-color: rgba(255, 255, 255, 0);
  margin-right: 30px;
  justify-content: center;
  align-items: center;
  font-family: "DM Sans", serif;
  font-weight: 600;
  color: #6298b2;
  margin-right: 100px;
}

.form-container h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 8px;
}

.form-group label {
  display: block;
  margin-bottom: 2px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "DM Sans", serif;
  color: #6298b2;
}

.form-group textarea {
  resize: vertical;
}

.form-group input[type="submit"] {
  background-color: #6298b2;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
}

.form-group input[type="submit"]:hover {
  background-color: rgb(111, 193, 207);
}

.radio-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.radio-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100px;
  gap: 10px;
  margin-bottom: 5px;
}

/* =================================================== */
/* Animações */
/* =================================================== */
.animate__fadeInDown {
  animation-duration: 4s;
  animation-delay: 0s;
}

.animate__slideInLeft {
  animation-duration: 4s;
  animation-delay: 0s;
}

.animate__slideInRight {
  animation-duration: 2s;
  animation-delay: 0ms;
}

/* =================================================== */
/* Footer*/
/* =================================================== */
.container-pai-footer {
  background-color: #1c1d24;
  color: white;
  padding: 24px;
}

.logo-footer {
  margin-bottom: 24px;
}

.logo-footer img {
  height: auto;
  object-fit: cover;
}

.endereco-footer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 8px;
  color: #9ca3af;
  font-size: 20px;
  margin-bottom: 24px;
}

.endereco-footer a {
  text-decoration: none;
}

.endereco-footer span {
  margin-left: 8px;
  color: white;
}

.Direitos-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 24px;
  border-top: 1px solid #374151;
}

.copyrigtht {
  color: #9ca3af;
  font-size: 25px;
}

.social-links {
  display: flex;
  gap: 24px;
  align-items: center;
}

.social-links a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #9ca3af;
  text-decoration: none;
  transition: color 0.2s;
}

.social-links:hover {
  color: white;
}

.social-links img {
  width: 30px;
  height: 30px;
}

.social-links span {
  font-family: monospace;
}

/* =================================================== */
/*  Inicio Media Queries */
/* =================================================== */

/* =================================================== */

/* Dispositivos móveis pequenos (até 375px) */

/* =================================================== */

@media (min-width: 0px) and (max-width: 375px) {
  #menu-button {
    font-family: "DM Sans", serif;
    font-weight: 600;
    color: #005d7f;
    display: block;
    position: absolute;
    top: 20px;
    bottom: 11px;
    right: 19px;
  }

  .logo {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  body {
    width: 100%;
    justify-content: center;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #Servicos {
    padding-top: 160px;
  }
  #Sobre {
    padding-top: 168px;
  }
  #Estrutura {
    padding-top: 168px;
  }
  #Trabalhe{
    padding-top: 168px;
  }

  .nav-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #e6f2f3;
    color: #fff;
    flex-direction: column;
    gap: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
  }

  .social-icons {
    display: flex;
    justify-content: left;
    padding-top: 5px;
  }

  .nav-menu.active {
    max-height: 500px;
  }

  .nav-menu li {
    padding: 15px 0;
    margin: 0;
  }

  .nav-menu a {
    text-align: left;
    padding-right: 20px;
  }

  /* ====================
     Banner  Vídeo
  ==================== */
  .video-banner {
    height: 81vh;
  }

  .content-overlay {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 90%;
    /* top: 12rem; */
  }
  /* Desliga o filtro */
   /* .video-banner video{
    filter: none;
  }  */

  .content-overlay h1 {
    font-size: 25px;
    line-height: 1.2;
    color: #005d7f;
  }
  .content-overlay h2 {
    font-size: 14px;

  }

  .content-overlay .logo-img {
    width: 80px;
    height: 80px;
    top: -50px;
  }

  /* ====================
     Seçoes  Principais 
  ==================== */
  .container-Titulo {
    padding: 30px 15px;
  }

  .titulo-Texto {
    width: 100%;
    padding: 20px;
  }

  .titulo-Texto h1 {
    font-size: 1.8rem;
  }
  .titulo-Texto p {
    font-size: 1rem;
  }

  /* ====================
     CARDS DE SERVIÇOS 
  ==================== */
  .container-pai {
    flex-direction: column;
  }

  .container-pai {
    margin: 0;
    padding: 15px;
    gap: 30px;
  }

  .titulo-filho {
    margin: 0;
    padding: 20px;
  }

  .cards-pai {
    padding: 15px;
  }

  .card-filho {
    width: 100%;
    height: auto;
    padding: 20px;
  }

  /* ====================
     SOBRE NÓS 
  ==================== */
  .text_nós {
    width: 94%;
    margin: 0;
  
  }
  .container_02 {
    display: flex;
  }

  .container_nós {
    padding: 30px 15px;
  }

  .container_02 {
    width: 100%;
    padding: 0 2px;
  }

  .container_02 h1 {
    text-align: center;
    margin-bottom: 40px;
  }

  .container {
    flex-direction: column; 
    align-items: center; 
  
  }

  .container_03 {
    margin-right: 0; 
  }

  .container_03 img {
    padding: 0px 8px 0px 8px !important;
    width: 100%;
    height: auto; 
    
  }

    /* ====================
     Banner Imagem cachorro
  ==================== */

  .container-pai-img {
    height: 400px;
    width: 97%;
  }

  .container-pai-img {
    background-attachment: scroll;
  }

  /* ====================
     Estrutura 
  ==================== */

  .full-scaner {
    height: auto;
  }

  .container_estrutura {
    margin: 50px 0;
    padding: 0 15px;
  }

  .text_estrutura {
    width: 100%;
    padding: 20px;
  }

  .filho-estrutura {
    flex: 0 0 100%;
    max-width: 300px;
  }

   /* ====================
     Modal
  ==================== */
  .modal-content {
    max-width: 95%;
    width: 100%;
  }
  .social-links span {
    display: none;
  }

  .social-links img {
    margin-left: 10px;
  }

  /* ====================
     Formulario 
  ==================== */

  .container-formulario {
    flex-direction: column;
    padding: 0 15px;
  }

  .container-foto-vet {
    width: 100%;
    margin: 0px auto;
    padding-left: 50px;
    order: 2;
  }

  .form-container {
    width: 110%;
    padding-left: 67px;
    order: 1;
  }

  .form-container h2 {
    text-align: center;
  }

  .form-container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    order: 1;
  }
  .container-foto-vet {
    padding: 0;
  }

  .container-foto-vet img {
    width: 100%;
    height: auto;
  }
  /* ====================
     Footer
  ==================== */
  .container-pai-footer {
    padding: 5px 15px;
  }

  .Direitos-footer {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
  .endereco-footer {
    display: block;
    align-items: center;
  }

  .copyrigtht {
    font-size: 1rem;
  }

  .social-links {
    justify-content: center;
  }
}


/* =================================================== */

/* Dispositivos móveis médios (376px–430px) */

/* =================================================== */

 @media (min-width: 376px) and (max-width: 430px) {
  #menu-button {
    font-family: "DM Sans", serif;
    font-weight: 600;
    color: #005d7f;
    display: block;
    position: absolute;
    top: 20px;
    bottom: 11px;
    right: 19px;
  }

  .logo {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  body {
    width: 100%;
    justify-content: center;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

   #Servicos {
    padding-top: 160px;
  } 
  #Sobre {
    padding-top: 168px;
  }
  #Estrutura {
    padding-top: 168px;
  }
  #Trabalhe{
    padding-top: 168px;
  }

  .nav-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #e6f2f3;
    color: #fff;
    flex-direction: column;
    gap: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
  }

  .social-icons {
    display: flex;
    justify-content: left;
    padding-top: 5px;
  }

  .nav-menu.active {
    max-height: 500px;
  }

  .nav-menu li {
    padding: 15px 0;
    margin: 0;
  }

  .nav-menu a {
    text-align: left;
    padding-right: 20px;
  }

  /* ====================
     Banner  Vídeo
  ==================== */
  .video-banner {
    height: 93vh;
  }

  .content-overlay {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 90%;
  }

  .content-overlay h1 {
    font-size: 28px;
    line-height: 1.2;
    color: #005d7f;
  }
  .content-overlay h2 {
    font-size: 22px;
  }

  .content-overlay .logo-img {
    width: 80px;
    height: 80px;
    top: -50px;
  }

  /* ====================
     Seçoes  Principais 
  ==================== */
  .container-Titulo {
    padding: 30px 15px;
  }

  .titulo-Texto {
    width: 100%;
    padding: 20px;
  }

  .titulo-Texto h1 {
    font-size: 1.8rem;
  }
  .titulo-Texto p {
    font-size: 1rem;
  }

  /* ====================
     CARDS DE SERVIÇOS 
  ==================== */
  .container-pai {
    flex-direction: column;
  }

  .container-pai {
    margin: 0;
    padding: 15px;
    gap: 30px;
  }

  .titulo-filho {
    margin: 0;
    padding: 20px;
  }

  .cards-pai {
    padding: 15px;
  }

  .card-filho {
    width: 100%;
    height: auto;
    padding: 20px;
  }

  /* ====================
     SOBRE NÓS 
  ==================== */
  .text_nós {
    width: 94%;
    margin: 0;
  
  }
  .container_02 {
    display: flex;
  }

  .container_nós {
    padding: 30px 15px;
  }

  .container_02 {
    width: 100%;
    padding: 0 2px;
  }

  .container_02 h1 {
    text-align: center;
    margin-bottom: 40px;
  }

  .container {
    flex-direction: column; 
    align-items: center; 
  
  }

  .container_03 {
    margin-right: 0; 
  }

  .container_03 img {
    padding: 0px 8px 0px 8px !important;
    width: 100%;
    height: auto; 
    
  }

    /* ====================
     Banner Imagem cachorro
  ==================== */

  .container-pai-img {
    height: 400px;
    width: 97%;
  }

  .container-pai-img {
    background-attachment: scroll;
  }

  /* ====================
     Estrutura 
  ==================== */

  .full-scaner {
    height: auto;
  }

  .container_estrutura {
    margin: 50px 0;
    padding: 0 15px;
  }

  .text_estrutura {
    width: 100%;
    padding: 20px;
  }

  .filho-estrutura {
    flex: 0 0 100%;
    max-width: 300px;
  }

   /* ====================
     Modal
  ==================== */
  .modal-content {
    max-width: 95%;
    width: 100%;
  }
  .social-links span {
    display: none;
  }

  .social-links img {
    margin-left: 10px;
  }

  /* ====================
     Formulario 
  ==================== */

  .container-formulario {
    flex-direction: column;
    padding: 0 15px;
  }

  .container-foto-vet {
    width: 100%;
    margin: 0px auto;
    padding-left: 50px;
    order: 2;
  }

  .form-container {
    width: 110%;
    padding-left: 67px;
    order: 1;
  }

  .form-container h2 {
    text-align: center;
  }

  .form-container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    order: 1;
  }
  .container-foto-vet {
    padding: 0;
  }

  .container-foto-vet img {
    width: 100%;
    height: auto;
  }
  /* ====================
     Footer
  ==================== */
  .container-pai-footer {
    padding: 5px 15px;
  }

  .Direitos-footer {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
  .endereco-footer {
    display: block;
    align-items: center;
  }

  .copyrigtht {
    font-size: 1rem;
  }

  .social-links {
    justify-content: center;
  }
}

/* =================================================== */

/* Telas grandes de smartphones (431px–769px) */

/* =================================================== */

@media (min-width: 431px) and (max-width: 769px) {
  #menu-button {
    font-family: "DM Sans", serif;
    font-weight: 600;
    color: #005d7f;
    display: block;
    position: absolute;
    top: 20px;
    bottom: 11px;
    right: 19px;
  }

  .logo {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  body {
    width: 100%;
    justify-content: center;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

   #Servicos {
    padding-top: 160px;
  } 
  #Sobre {
    padding-top: 168px;
  }
  #Estrutura {
    padding-top: 168px;
  }
  #Trabalhe{
    padding-top: 168px;
  }

  .nav-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #e6f2f3;
    color: #fff;
    flex-direction: column;
    gap: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
  }

  .social-icons {
    display: flex;
    justify-content: left;
    padding-top: 5px;
  }

  .nav-menu.active {
    max-height: 500px;
  }

  .nav-menu li {
    padding: 15px 0;
    margin: 0;
  }

  .nav-menu a {
    text-align: left;
    padding-right: 20px;
  }

  /* ====================
     Banner  Vídeo
  ==================== */

  .video-banner {
    height: 77vh;
  }

  .content-overlay {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 90%;
  }

  .content-overlay h1 {
    font-size: 28px;
    line-height: 1.2;
    color: #005d7f;
  }
  .content-overlay h2 {
    font-size: 22px;
  }

  .content-overlay .logo-img {
    width: 80px;
    height: 80px;
    top: -50px;
  }

  /* ====================
     Seçoes  Principais 
  ==================== */
  .container-Titulo {
    padding: 30px 15px;
  }

  .titulo-Texto {
    width: 100%;
    padding: 20px;
  }

  .titulo-Texto h1 {
    font-size: 1.8rem;
  }

  .titulo-Texto p {
    font-size: 1rem;
  }

  /* ====================
     CARDS DE SERVIÇOS 
  ==================== */
  .container-pai {
    flex-direction: column;
  }

  .container-pai {
    margin: 0;
    padding: 15px;
    gap: 30px;
  }

  .titulo-filho {
    margin: 0;
    padding: 20px;
  }

  .cards-pai {
    padding: 15px;
  }

  .card-filho {
    height: auto;
    padding: 20px;
  }

  /* ====================
     SOBRE NÓS 
  ==================== */
  .text_nós {
    width: 94%;
    margin: 0;
  
  }
  .container_02 {
    display: flex;
  }

  .container_nós {
    padding: 30px 15px;
  }

  .container_02 {
    width: 100%;
    padding: 0 2px;
  }

  .container_02 h1 {
    text-align: center;
    font-size: 31px;
    margin-bottom: 100px;
  }

  .container {
    flex-direction: column; 
    align-items: center; 
  }

  .container_03 {
    margin-right: 0; 
  }

  .container_03 img {
    width: 100%;
    padding: 0px 8px 0px 8px !important;
    height: auto; 
  }

    /* ====================
     Banner Imagem cachorro
  ==================== */

  .container-pai-img {
    height: 400px;
    width: 97%;
  }

  .container-pai-img {
    background-attachment: scroll;
  }

  /* ====================
     Estrutura 
  ==================== */

  .full-scaner {
    height: auto;
  }

  .container_estrutura {
    margin: 50px 0;
    padding: 0 15px;
  }

  .text_estrutura {
    width: 100%;
    padding: 20px;
  }

   /* ====================
     Modal
  ==================== */
  .modal-content {
    max-width: 95%;
    width: 100%;
  }
  .social-links span {
    display: none;
  }

  .social-links img {
    margin-left: 10px;
  }

  /* ====================
     Formulario 
  ==================== */

  .container-formulario {
    flex-direction: column;
    padding: 0 15px;
  }

  .container-foto-vet {
    width: 100%;
    margin: 0px auto;
    padding-left: 50px;
    order: 2;
  }

  .form-container {
    width: 110%;
    padding-left: 67px;
    order: 1;
  }

  .form-container h2 {
    text-align: center;
  }

  .form-container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    order: 1;
  }
  .container-foto-vet {
    padding: 0;
  }

  .container-foto-vet img {
    width: 100%;
    height: auto;
  }
  /* ====================
     Footer
  ==================== */
  .container-pai-footer {
    padding: 5px 15px;
  }

  .Direitos-footer {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
  .endereco-footer {
    display: block;
    align-items: center;
  }

  .copyrigtht {
    font-size: 1rem;
  }

  .social-links {
    justify-content: center;
  }
}

/* =================================================== */

/* Tablets (770px–1024px) */

/* =================================================== */

 @media (min-width: 770px) and (max-width: 1024px) {
  #menu-button {
    font-family: "DM Sans", serif;
    font-weight: 600;
    color: #005d7f;
    display: block;
    position: absolute;
    top: 20px;
    bottom: 11px;
    right: 19px;
  }

  .logo {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  body {
    width: 100%;
    justify-content: center;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

   #Servicos {
    padding-top: 160px;
  } 
  #Sobre {
    padding-top: 168px;
  }
  #Estrutura {
    padding-top: 168px;
  }
  #Trabalhe{
    padding-top: 168px;
  }

  .nav-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #e6f2f3;
    color: #fff;
    flex-direction: column;
    gap: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
  }

  .social-icons {
    display: flex;
    justify-content: left;
    padding-top: 5px;
  }

  .nav-menu.active {
    max-height: 500px;
  }

  .nav-menu li {
    padding: 15px 0;
    margin: 0;
  }

  .nav-menu a {
    text-align: left;
    padding-right: 20px;
  }

  /* ====================
     Banner  Vídeo
  ==================== */

  .content-overlay {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 90%;
  }

  .content-overlay h1 {
    line-height: 1.2;
    color: #005d7f;
  }
  .content-overlay h2 {
    font-size: 22px;
  }

  .content-overlay .logo-img {
    width: 80px;
    height: 80px;
    top: -50px;
  }

  /* ====================
     Seçoes  Principais 
  ==================== */
  .container-Titulo {
    padding: 30px 15px;
  }

  .titulo-Texto {
    width: 100%;
    padding: 20px;
  }

  .titulo-Texto h1 {
    font-size: 1.8rem;
  }
  .titulo-Texto p {
    font-size: 1rem;
  }

  /* ====================
     CARDS DE SERVIÇOS 
  ==================== */
  .container-pai {
    flex-direction: column;
  }

  .container-pai {
    margin: 0;
    padding: 15px;
    gap: 30px;
  }

  .titulo-filho {
    margin: 0;
    padding: 20px;
  }

  .cards-pai {
    padding: 15px;
  }

  .card-filho {
    height: auto;
    padding: 20px;
  }

  /* ====================
     SOBRE NÓS 
  ==================== */
  .text_nós {
    width: 94%;
    margin: 0;
  
  }
  .container_02 {
    display: flex;
  }

  .container_nós {
    padding: 30px 15px;
  }

  .container_02 {
    width: 100%;
    padding: 0 2px;
  }

  .container_02 h1 {
    text-align: center;
    font-size: 31px;
    margin-bottom: 100px;
  }

  .container {
    flex-direction: column; 
    align-items: center; 
  }

  .container_03 {
    margin-right: 0; 
  }

  .container_03 img {
    width: 100%;
    height: auto;     
  }

    /* ====================
     Banner Imagem cachorro
  ==================== */

  .container-pai-img {
    height: 400px;
    width: 97%;
  }

  .container-pai-img {
    background-attachment: scroll;
  }

  /* ====================
     Estrutura 
  ==================== */

  .full-scaner {
    height: auto;
  }

  .container_estrutura {
    margin: 50px 0;
    padding: 0 15px;
  }

  .text_estrutura {
    width: 100%;
    padding: 20px;
  }

  .filho-estrutura {
    flex: 0 0 100%;
    max-width: 300px;
  }

   /* ====================
     Modal
  ==================== */
  .modal-content {
    max-width: 95%;
    width: 100%;
  }
  .social-links span {
    display: none;
  }

  .social-links img {
    margin-left: 10px;
  }

  /* ====================
     Formulario 
  ==================== */

  .container-formulario {
    flex-direction: column;
    padding: 0 15px;
  }

  .container-foto-vet {
    width: 100%;
    margin: 0px auto;
    padding-left: 50px;
    order: 2;
  }

  .form-container {
    width: 110%;
    padding-left: 67px;
    order: 1;
  }

  .form-container h2 {
    text-align: center;
  }

  .form-container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    order: 1;
  }
  .container-foto-vet {
    padding: 0;
  }

  .container-foto-vet img {
    width: 100%;
    height: auto;
  }
  /* ====================
     Footer
  ==================== */
  .container-pai-footer {
    padding: 5px 15px;
  }

  .Direitos-footer {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
  .endereco-footer {
    display: block;
    align-items: center;
  }

  .copyrigtht {
    font-size: 1rem;
  }

  .social-links {
    justify-content: center;
  }
 }

 